.row{
    border-bottom: 1px solid var(--dark);
}


[class^="col-"]{
    padding: 5px 15px;
}
[class^="col-"].ec_counter{
    padding: 0px;
}

pre.request, pre.response{
    max-height: 260px;
    overflow: auto;
    border: 2px solid #ccc;
    background: #f0f0f0;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace
}
pre.NOK{
    background: #ffdddd;
}


[class^="col-"].no-gutter{
    padding: 0px;
    margin-bottom: 0px;
}
ul, ol{
    padding-left: 0px;
}
.ec_reseter{
    counter-reset: section;
}
.ec_counter::before{
    counter-increment: section;
    content: counter(section);
    padding-top: 6px;
    position: absolute;
    font-weight: bold;
    font-size: 42px;
    color: #3498db;
}