<div class="testBody col-md-12">
  <div *ngFor="let res of scenarios; let i = index;" class="ec_reseter">
    <h2 [innerHTML]="res.getScenarioTitle()"></h2>
    <div class="row">
        <div class="col-md-6 col-header bg-black-color-white"> Task </div>
        <div class="col-md-3 col-header bg-black-color-white">Request </div>
        <div class="col-md-3 col-header bg-black-color-white"> Response </div>
    </div>
      <div class="col-md-12 ec_counter" *ngFor="let des of describes; let in = index;">
        <div *ngFor="let resBody of testBody[in]" class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
              <strong [innerHTML]="des"></strong>
              <div>
                  <strong [innerHtml]="resBody.status"></strong> | |
                  <em [innerHtml]="resBody.urlTarget"></em>
              </div>
              <div *ngIf="resBody.headers" class="col">
                <pre><strong>Headers</strong></pre>
                <pre class="request" [innerHtml]="resBody.headers"></pre>
              </div>
              
          </div>
          <!-- <div class="col">test</div> -->
          <!-- <div class="col">test</div> -->
          
          <!-- <div *ngIf="resBody.headers" class="col">
            <label>Headers</label>
            <pre class="request" [innerHtml]="resBody.headers"></pre>
          </div> -->
          <pre class="col-md-3 no-gutter request"  [innerHtml]="resBody.requestBody">
          </pre>
          <pre class="col-md-3 no-gutter" [ngClass]="'response '+resBody.status"> {{resBody.responseBody}}
          </pre>
        </div>
      </div>

  </div>
</div>