<!--The content below is only a placeholder and can be replaced.-->
<div class="row m-3">
    <!-- <h1 class="col-md-12">
        Welcome to {{ title }}!
    </h1> -->
      
    <router-outlet></router-outlet>      
</div>