/* You can add global styles to this file, and also import other style files */



[class^="col-"].no-gutter{
    padding-left: 0;
    padding-right: 0;
}

[class^="col-"].col-header{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 15px;
}

.bg-black-color-white{
    background: var(--dark);
    color: white;
    border-right: 1px solid white;
}